*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    /* padding and border are included in initial width and height. for content box it is added up. margin excluded*/
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:#5a5a5a
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    align-items: center;
    /* vertically centered */
}